# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ Create a Jupyter Notebook
+ Insert code and markdown cells
+ Share my notebook through GitHub

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

#### Some of the commonly used libraries used by Data Scientist include:
1. numPy
2. Pandas
3. Matplotlib
4. ggplot2
5. TensorFlow

|Data Science Tools|
|------------|
|Jupyter Notebook|
|RStudio|
|Visual Studio Code|

### Below are a few examples of evaluating arithmetic expression in Python

In [8]:
2+1

3

In [11]:
x=12
y=3
result=(x/y)
print(result)

4.0

In [13]:
# This is a simple aarithmetic expression to multiply then add integers
(3*4)+5

17

In [21]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Renato